div.col-md-4(ng-click="goToGroup(group.id)")
  a.card
    div.productImageAndInfo.text-center
      div.Imageinfo
        div.width100p(style="margin-top:10px;")
          div.text-center.colorWhite(style="width:100%;font-size:22px;position:absolute;bottom:0;margin-bottom:5px;margin-left:5px;margin-right:5px;")="{{group.product.name | limitTo:50}}"
      div.imageBox(style="background-color:#FFFFFF;")
        div(style="width:100%;")
          img.image-center(src="{{group.product.product_image}}",style="max-height:300px;max-width:300px;")
  div.cardInfo
    div.JoinedThisGroup
      div.cardBigText="{{group.interested_users_count}}"
      div.cardSmallText="Joined"
    div.lowestPrice
      div.row(ng-show="group.interested_users_count < group.required_user_count")
        div.col-md-3
          div.cardBigText="{{group.required_user_count - group.interested_users_count}}"
          div.cardSmallText="Required"
        div.col-md-8(style="margin-top:2px;")
          div.cardSmallText="For"
          div.lowestPriceSmallText="GROUP DISCOUNT"
          div.cardSmallText="ON MARKET PRICE"
      div.row(ng-show="group.interested_users_count >= group.required_user_count")
        div.col-md-10(style="margin-top:5px;margin-bottom:10px;")
          div.cardSmallText="We are collecting"
          div.lowestPriceSmallText="DEALS IN {{8 - group.reached_goal}} DAYS"
          div.lowestPriceSmallText="ON MARKET PRICE"
  div.finalPriceBtn
    p.colorWhite(style="font-size:20px;")="Market Price : {{group.product.price_value | currency:'Rs. '}}"
