doctype html
html(lang="en",ng-app="lemonades")
  head
    base(href="/")
    meta(charset="utf-8")
    link(rel="shortcut icon",href="http://cdn.groupup.in/favicon.ico")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name='fragment', content='!')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description",content="Spot your product -> Form Groups -> Get huge group discounts. Use product links from Flipkart,Amazon.in to create a group page. And start sharing it to grow that group and get huge group buying discount.")
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://www.groupup.in')
    meta(property='og:title', content='GroupUP.in : Buy in Groups And Get Huge Discounts')
    meta(property='og:image', content='images/logo.svg')
    meta(property='og:image:height', content='300')
    meta(property='og:image:width', content='300')
    meta(property='og:description', content='Spot your product -> Form Groups -> Get huge group discounts. Use product links from Flipkart,Amazon.in to create a group page. And start sharing it to grow that group and get huge group buying discount.')
    meta(property='fb:app_id', content='1608020712745966')
    title="GroupUP.in : The Next Generation of Group Buying"
    // build:css(.) styles/vendor.css
    // bower:css
    link(href='bower_components/angular-loading-bar/build/loading-bar.css')
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
    link(href="bower_components/ngtoast/dist/ngToast.min.css",rel="stylesheet")
    link(href="bower_components/ngtoast/dist/ngToast-animations.min.css",rel="stylesheet")
    // endbower
    // endbuild
    //build:css(.tmp) styles/main.css
    link(href="styles/flatty.css",rel="stylesheet")
    link(href="styles/bootstrapOverwrite.css",rel="stylesheet")
    link(href="styles/custom.css",rel="stylesheet")
    link(href="styles/font.css",rel="stylesheet")
    //endbuild
    script(type="text/javascript").
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments);
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-61572806-1', 'auto');
      //ga('create', 'UA-61572806-2', 'auto');
  body(ng-controller="LandingCtrl as ctrl",ng-cloak,ng-init="init()")
    div#createGroupModal.modal(name="createGroupModal",tabindex="-2",role="dialog",aria-labelledby="createGroupModalLabel",aria-hidden="true",style="z-index:10000;")
      div.modal-dialog
        div.modal-content
          div.modal-header
            div.row
              div.col-md-8
                h4#createGroupModal.modal-title="Create"
              div.col-md-4
                a#mailUs.btn.btn-primary-border-black.pull-right(type="button",href="mailto:akshay@rainingclouds.com?subject=Create A group for my product",analytics-on="click",analytics-event="mail-us-create-group-dialog",analytics-category="site-event")="Mail Us"
          div.modal-body
            div(ng-show="status !== undefined && status.success === false",style="margin-bottom:10px;")
              p.colorPink="{{status.message}}"
            form(role="form",name="form",novalidate)
              div.form-group
                label(for="productLink")="Flipkart/Amazon.in Product Link"
                input#productLink.form-control(type="uri",placeholder="Flipkart/Amazon.in Product Link",ng-model="object.product_link",name="productLink",required)
            a.btn.btn-primary-border(ng-show="status !== undefined && status.success === false",style="margin-bottom:10px;",href="mailto:akshay@rainingclouds.com?subject=Unable to parse&body=I want to create a group for : {{object.product_link}}",analytics-on="click",analytics-event="mail-us-error-page-create-group-dialog",analytics-category="site-event") Mail Us this link, we will try to fix this
          div.modal-footer
            button#createGroup.btn.btn-primary-border(type="button",data-loading-text="Fetching Info",ng-disabled="form.productLink.$error.required===true",ng-click="createGroup()",analytics-on="click",analytics-event="create-group-create-group-dialog",analytics-category="site-event")="Go"
    <!--[if lt IE 7]>
    p.browsehappy
      | You are using an
      strong outdated
      |  browser. Please
      a(href="http://browsehappy.com/") upgrade your browser
      |  to improve your experience.
    <![endif]-->
    toast
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(ng-click="landing()")
          img(src="images/logo.svg",style="height:50px;margin-top:-15px;")
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li(ng-class="{'active':path===1,'':path!==1}")
              a(ng-click="dashboard()",analytics-on="click",analytics-event="go-to-dashboard-nav-bar",analytics-category="site-event")
                | Groups
          ul.nav.navbar-nav.navbar-right
            li(ng-hide="sessionKey")
              a(ng-click="login()",analytics-on="click",analytics-event="login-nav-bar",analytics-category="site-event")
                | Login
            li(ng-hide="sessionKey",analytics-on="click",analytics-event="register-nav-bar",analytics-category="site-event")
              a(ng-click="register()")
                | Register
            li.dropdown(ng-show="sessionKey" dropdown on-toggle="toggled(open)")
              a.dropdown-toggle(href,dropdown-toggle)
                | Menu
                span.caret
              ul.dropdown-menu(role='menu')
                li(ng-class="{'active':path===4,'':path!==4}")
                  a(ng-click="myGroups()",analytics-on="click",analytics-event="my-groups-nav-bar",analytics-category="site-event") My Groups
                li.divider
                li
                  a(ng-click="logout()",analytics-on="click",analytics-event="logout-nav-bar") Logout
          button(ng-class="{'btn btn-primary pull-right':path!==2,'btn btn-primary-border pull-right':path==2}",ng-show="sessionKey",style="font-size:18px;margin-top:8px;margin-right:5px;",data-toggle="modal",data-target="#createGroupModal",ng-click="initCreateGroup()",analytics-on="click",analytics-event="create-group-nav-bar",analytics-category="site-event") Create Group
    div(ng-view)
    // build:js scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/es5-shim/es5-shim.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/json3/lib/json3.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/waypoints/waypoints.js')
    script(src='bower_components/SHA-1/sha1.js')
    script(src='bower_components/angulartics/src/angulartics.js')
    script(src='bower_components/angulartics/src/angulartics-ga.js')
    script(src='bower_components/angulartics/src/angulartics-scroll.js')
    script(src='bower_components/angular-google-plus/dist/angular-google-plus.js')
    script(src='bower_components/ngtoast/dist/ngToast.js')
    script(src='bower_components/angular-easyfb/angular-easyfb.js')
    script(src='bower_components/html5shiv/dist/html5shiv.js')
    script(src='bower_components/respond/dest/respond.src.js')
    script(src='bower_components/angular-seo/angular-seo.js')
    script(src='bower_components/angular-loading-bar/build/loading-bar.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap.js')
    script(src='bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js')
    // endbower
    // endbuild
    // build:js(.tmp) scripts/app.js
    script(src="scripts/app.js")
    script(src="scripts/shared/config.js")
    script(src="scripts/controllers/main.js")
    script(src="scripts/controllers/landing.js")
    script(src="scripts/controllers/login.js")
    script(src="scripts/controllers/register.js")
    script(src="scripts/controllers/dashboard.js")
    script(src="scripts/controllers/registration-success.js")
    script(src="scripts/services/session.js")
    script(src="scripts/controllers/group.js")
    script(src="scripts/controllers/my-groups.js")
    script(src="scripts/controllers/reset_password.js")
    script(src="scripts/controllers/confirm_email.js")
    script(src="scripts/directives/group.js")
    script(src="scripts/directives/showtab.js")
    script(src="scripts/controllers/privacy.js")
    script(src="scripts/controllers/terms-of-service.js")
    // endbuild
    script(type="text/javascript", src="//use.typekit.net/xpw2ktq.js")
    script(type="text/javascript").
      try{Typekit.load();}catch(e){}
    script(type='text/javascript').
      <!-- Start of groupup Zendesk Widget script -->
      /*<![CDATA[*/window.zEmbed || function (e, t) {
        var n, o, d, i, s, a = [], r = document.createElement("iframe");
        window.zEmbed = function () {
          a.push(arguments)
        }, window.zE = window.zE || window.zEmbed, r.src = "javascript:false", r.title = "", r.role = "presentation", (r.frameElement || r).style.cssText = "display: none", d = document.getElementsByTagName("script"), d = d[d.length - 1], d.parentNode.insertBefore(r, d), i = r.contentWindow, s = i.document;
        try {
          o = s
        } catch (c) {
          n = document.domain, r.src = 'javascript:var d=document.open();d.domain="' + n + '";void(0);', o = s
        }
        o.open()._l = function () {
          var o = this.createElement("script");
          n && (this.domain = n), o.id = "js-iframe-async", o.src = e, this.t = +new Date, this.zendeskHost = t, this.zEQueue = a, this.body.appendChild(o)
        }, o.write('<body onload="document._l();">'), o.close()
      }("//assets.zendesk.com/embeddable_framework/main.js", "groupup.zendesk.com");/*]]>*/
      <!-- End of groupup Zendesk Widget script -->

