script(type="text/javascript").
  $('#myModal').on('shown.bs.modal', function () {
    callPlayer('yt-player', 'playVideo');
  });
  $('#myModal').on('hidden.bs.modal', function () {
    $("#myModal iframe").attr("src", $("#myModal iframe").attr("src"));
  });
#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      #yt-player.modal-body
        iframe(src='//www.youtube.com/embed/_F6rBAHOrDs?rel=0&enablejsapi=1', allowfullscreen='', width='100%', frameborder='0', height='400px')

section(ng-init="init()")
  div.container-fluid.bgGray(style="padding:10px;")
    div.row
      div.col-md-12.col-sm-12
        div.col-md-2.col-sm-2
          a(ng-click="dashboard()")
            img.img-responsive.text-center(src="images/innerPageLogo.png",width="160px;")
        div.col-md-4.pull-right.text-right.col-sm-2.col-md-offset-6
          button.btn.btn-primary-border(type="button",data-toggle='modal', data-target='#myModal') How It Works ?
          button.btn.btn-primary-border(ng-show="sessionKey",ng-click="myGroups()")="My Groups"
          button.btn.btn-primary-border(ng-click="dashboard()")="More Groups"
          button.btn.btn-primary-border(ng-hide="sessionKey",ng-click="$root.goToLogin()")="Login"
          button.btn.btn-primary-border(ng-show="sessionKey",ng-click="logout()")="Logout"
div.container
  div.row
    div.col-lg-4(style="margin-top:25px;")
      div.sideImagewrapp(style="height:450px;cursor:pointer;")
        div.bigGray100pBtn#leaveGroup(ng-show="sessionKey && group.id !== undefined && group.is_joined",ng-click="leaveGroup()")="Leave This Group"
        a.bigPink100pBtn(ng-hide="sessionKey",ng-click="loginToJoin()")="Login to Join"
        a.bigPink100pBtn#joinGroup(ng-show="sessionKey && group.id !== undefined && !group.is_joined",ng-click="joinGroup()",data-loading-text="Joining...")="I am interested"
        div(style="width:100%;")
          img.image-center(src="{{group.product.product_image}}",style="max-height:300px;max-width:300px;")
    div.col-lg-8
      div.row
        div.col-md-12.marginTop25px
          h2="{{group.product.name}}"
      hr
      div.row
        div.col-md-12.marginTop5px
      div.row
        div.col-md-12
          div.priceBox
            p(style="font-size=25px;")="Online Market Price"
              a(href="{{group.product.product_link}}",target="_blank",ng-show="group.product.product_link.indexOf('flipkart')!==-1")=" (Flipkart)"
              a(href="{{group.product.product_link}}",target="_blank",ng-show="group.product.product_link.indexOf('amazon')!==-1")=" (Amazon)"
              span="  |  "
              a#updatePrice(ng-click="updatePrice()",data-loading-text="Updating...")="Update Info"
            h3="{{group.product.price_value | currency:'Rs. '}}"
      div.row(style="margin-top:10px;")
        div.col-md-12.text-center(style="margin-left:-20px;margin-top:10px;")
          div.col-md-2.col-sm-12.text-center
            div.fb-share-button(onrender='fbLikeRendered()', data-href='http://www.lemonades.in/group/{{groupId}}/share?by={{user.id}}&stamp={{timestamp}}&utm_source=fb_share_landing_page&utm_medium=website&utm_campaign=share', data-type="button_count")
          div.col-md-2.text-center.col-sm-12
            a.twitter-share-button(href="https://twitter.com/share",data-size="medium",data-text="{{shareText}}",data-url= "http://www.lemonades.in/#!/group/{{groupId}}?utm_source=tw_share_landing_page&utm_medium=website&utm_campaign=share")="Tweet"
          div.col-md-2.text-center.col-sm-12
            a.g-plus(data-action="share",data-annotation="bubble",data-height="24",data-href="http://www.lemonades.in/group/{{groupId}}/share?by={{user.id}}&stamp={{timestamp}}&utm_source=gplus_landing_page&utm_medium=website&utm_campaign=share")
      div.row
        div.col-md-12
          div.interestedBox(style="margin-right:5px;")
            h1="{{group.interested_users_count}}"
            p(style="font-size:20px;")="Joined"
          div.interestedBox(style="margin-right:5px;",ng-show="group.interested_users_count < group.required_user_count")
            h1()="{{group.required_user_count-group.interested_users_count}}"
            p(style="font-size:20px;")="Remaining"
          div.interestedBox(style="margin-right:5px;")
            h1()="{{group.min_discount}}"
            p(style="font-size:20px;")="Up To"
      div.row
        div.col-md-12(style="margin-top:15px;")
          p(style="font-size:15px;")="We will required minimum "
            span(style="color:#ff227c;")="{{group.required_user_count}} people"
            = ' '
            |  interested in this product in next
            = ' '
            span(style="color:#ff227c;")="{{group.expires_in}} days"
            = ' '
            |  to get you an attractive deal.
      hr
      div.row(style="margin-left:1px;margin-top:15px;",role="tabpanel")
        ul.nav.nav-tabs(role="tablist")
          li.active(role="presentation")
            a(showtab="",href="#discussions",aria-controls="discussions",role="tab",data-toggle="tab",style="font-size:17px;")="Discussions"
        div.tab-content(style="min-height:300px;")
          div#discussions.tab-pane.active(role="tabpanel",style="overflow-x:hidden;")
            div.fb-comments(data-href="http://www.lemonades.in/#!/group/{{groupId}}?utm_source=fb_comments&utm_medium=website&utm_campaign=comments",data-numposts="5",data-colorscheme="light",style="width:100%;")


script(type="text/javascript").
  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
    js = d.createElement(s);
    js.id = id;
    js.src = p + '://platform.twitter.com/widgets.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'twitter-wjs'));
  (function () {
    var po = document.createElement('script');
    po.type = 'text/javascript';
    po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();
