div#forgotPasswordModal.modal(name="forgotPasswordModal",tabindex="-1",role="dialog",aria-labelledby="forgotPasswordModalLabel",aria-hidden="true")
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type="button",data-dismiss="modal")
          span(aria-hidden="true")
          span.sr-only="Close"
        h4#createGroupModal.modal-title="Forgot Password"
      div.modal-body
        div(ng-show="fg_status !== undefined && fg_status.success === false",style="margin-bottom:10px;")
          p.colorPink="{{fg_status.message}}"
        form(role="form",name="form",novalidate)
          div.form-group
            label(for="emailAddress")="Email Address"
            input#emailAddress.form-control(type="email",placeholder="me@you.com",ng-model="object.email",name="emailAddress",required)
      div.modal-footer
        button#forgotPassword.btn.btn-primary-border(type="button",data-loading-text="Loading...",ng-disabled="form.emailAddress.$error.required===true",ng-click="forgotPassword()")="Reset"
div.container-fluid-full
  div.container-fluid.bgGray(style="padding:10px;")
    div.row
      div.col-md-12.col-sm-12
        div.col-md-2.col-sm-2
          a(ng-click="landing()")
            img.img-responsive.text-center(src="images/innerPageLogo.png",width="160px;")
        div.col-md-4.pull-right.col-md-offset-6.text-right.col-sm-4.col-sm-offset-6
          .btn.btn-primary-border(ng-click="register()")="Register"
  div.container(style="margin-top:50px;")
    div.col-md-12.text-center
      h2.text-center(style="color:#E8277A")="Login"
      hr
    div.col-md-4.col-sm-4.col-sm-offset-2.col-md-offset-2
      div.panel(ng-show="status !== undefined && status.success !== true")
        div.panel-body.text-center
          p {{status.message}}
      form#loginForm(role="form",name="form",style="margin-top:20px;",novalidate)
        div
          label(for="email")="Email"
          input#email.form-control(type="text",style="font-size:16px;",name="email",ng-model="user.email",placeholder="me@you.com",required="")
        div(style="margin-top:5px;")
          label(for="password")="Password"
          input#password.form-control(type="password",style="font-size:16px;",name="pwd",ng-model="user.password",placeholder="password",required="")
        div.text-center(style="margin-top:10px;margin-bottom:20px;")
          a#forgotPasswordButton.pull-left(style="margin-top:10px;",type="submit",data-toggle="modal",data-target="#forgotPasswordModal")="Forgot Password"
          button.btn.btn-primary-border.pull-right#loginButton(type="submit",ng-click="login()",data-loading-text="Logging in...")="Login"
    div.col-md-3.col-sm-3.text-center(style="margin-top:10px;")
      a#login.text-center(ng-click="loginWithFacebook()")
        image(src="images/fb_login.png",style="width:220px;")
      a#login.text-center(ng-click="loginWithGooglePlus()")
        image(src="images/google_sign_in.png",style="width:195px;")

script(type="text/javascript").
  // Include the UserVoice JavaScript SDK (only needed once on a page)
  UserVoice = window.UserVoice || [];
  (function () {
    var uv = document.createElement('script');
    uv.type = 'text/javascript';
    uv.async = true;
    uv.src = '//widget.uservoice.com/f5oeTjQEmzbG51fJhjObxg.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(uv, s)
  })();
    //
    // UserVoice Javascript SDK developer documentation:
    // https://www.uservoice.com/o/javascript-sdk
    //
    // Set colors
  UserVoice.push(['set', {
    accent_color: '#e8277a',
    trigger_color: 'white',
    trigger_background_color: '#e8277a'
  }]);
      // Identify the user and pass traits
      // To enable, replace sample data with actual user traits and uncomment the line
  UserVoice.push(['identify', {
    //email:      'john.doe@example.com', // User’s email address
    //name:       'John Doe', // User’s real name
    //created_at: 1364406966, // Unix timestamp for the date the user signed up
    //id:         123, // Optional: Unique id of the user (if set, this should not change)
    //type:       'Owner', // Optional: segment your users by type
    //account: {
    //  id:           123, // Optional: associate multiple users with a single account
    //  name:         'Acme, Co.', // Account name
    //  created_at:   1364406966, // Unix timestamp for the date the account was created
    //  monthly_rate: 9.99, // Decimal; monthly rate of the account
    //  ltv:          1495.00, // Decimal; lifetime value of the account
    //  plan:         'Enhanced' // Plan name for the account
    //}
  }]);
      // Add default trigger to the bottom-right corner of the window:
  UserVoice.push(['addTrigger', {mode: 'contact', trigger_position: 'bottom-right'}]);
    // Or, use your own custom trigger:
    //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);
    // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
  UserVoice.push(['autoprompt', {}])


