div.container-fluid(ng-init="init()")
  section.howItWorksBg(style="padding-bottom:50px;")
    div.container
      div.row.marginTop15px
        div.col-md-12
          img.pull-left(src="images/innerPageLogo.png",width="200px;")
          a.pull-right.btn.btn-primary-border(ng-click="login()")="Login"
          a.pull-right.btn.btn-primary-border.marginRight10px(ng-click="register()")="Register"
    div.row
      div.col-md-12.text-center(style="margin-top:15px;margin-bottom:15px;")
        p.pinkText(style="font-size:45px;font-weight:thin;")="Next Generation Of Group Buying"
    div.container
      div.row.text-center.marginTop50px
        div.col-md-12
          img.img-responsive(src="images/how_it_work.png")
  section
    div.container(style="padding-top:30px;")
      div.row
        div.col-md-6
          p.colorDarkGray.rightPinkLine(style="font-size:30px;")="Trending Groups"
        div.col-md-6.text-right
          a.btn.btn-primary-border="More"
      div.row
        div.col-md-4(ng-repeat="group in groups",ng-click="goToGroup(group.id)")
          a.card
            div.productImageAndInfo.text-center
              div.Imageinfo
                div.width100p(style="margin-top:10px;")
                  div.text-center.colorWhite(style="width:100%;font-size:22px;position:absolute;bottom:0;margin-bottom:5px;margin-left:5px;margin-right:5px;")="{{group.product.name | limitTo:50}}"
              div.imageBox(style="background-color:#FFFFFF;")
                div(style="width:100%;")
                  img.image-center(src="{{group.product.product_image}}",style="max-height:300px;max-width:300px;")
          div.cardInfo
            div.JoinedThisGroup
              div.cardBigText="{{group.interested_users_count}}"
              div.cardSmallText="Joined"
            div.lowestPrice
              div.lowestPriceSmallText(ng-show="group.interested_users_count < 50")="{{50 - group.interested_users_count}} more for"
              div.lowestPriceSmallText(ng-show="group.interested_users_count >= 50")="It's up for"
              div.lowestPriceBigText="DEAL"
          div.finalPriceBtn
            p.colorWhite(style="font-size:20px;")="Rs. {{group.product.price_value}}"
  hr
  footer
    div.container(style="margin-top:50px")
      div.row
        div.col-md-12.text-center
          h2.colorDarkGray
            | Spread your
            span.heart
            | for us
        div.col-md-12.text-center(style="margin-top:30px;")
          div.col-md-2.col-md-offset-3
            div.fb-share-button(data-href="http://www.lemonades.in/#!/?utm_source=fb_share_landing_page&utm_medium=website&utm_campaign=share",data-layout="button_count")
          div.col-md-2.text-center
            a.twitter-share-button(href="https://twitter.com/share",data-size="medium",data-text="Make groups and Get huge discounts on mobiles #mobiledevices #smartphones",data-url="http://www.lemonades.in/#!/?utm_source=tw_share_landing_page&utm_medium=website&utm_campaign=share")="Tweet"
          div.col-md-2.text-center
            a.g-plus(data-action="share",data-annotation="bubble",data-height="24",data-href="http://www.lemonades.in/#!/?utm_source=gplus_landing_page&utm_medium=website&utm_campaign=share")
        div.col-md-12.text-center(style="margin-top:20px;margin-bottom:20px;")
          div.fb-page(data-href="https://www.facebook.com/lemonades.in",data-hide-cover="false",data-show-facepile="true",data-show-posts="false")
        div.row
        div.col-md-12.text-center
      div.footerInside
        div.row
          div.col-md-2.col-md-offset-4.text-right
            ul.footerLinks
              li
                a="Privacy Policy"
                br
                a="Suggest Deal Type"
                br
                a="Join Our Vendor List"
          div.col-md-2.text-left
            ul.footerLinks
              li
                a="How It Works"
                br
                a="Contact Us"
                br
                a="FAQ"
    div.container
      div.row
        dov.col-md-12.text-center.copyrightTxt="(C) Lemonades LLC"
  #fb-root
  script(type="text/javascript").
    FB = null;
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1608020712745966&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
      js = d.createElement(s);
      js.id = id;
      js.src = p + '://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'twitter-wjs'));
    (function () {
      var po = document.createElement('script');
      po.type = 'text/javascript';
      po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(po, s);
    })();
