div.container-fluid-full
  div.container-fluid-full.bgGray(style="padding:10px;")
    div.row
      div.col-md-12
        div.col-md-2
          a(ng-click="landing()")
            img.img-responsive.text-center(src="images/innerPageLogo.png",width="160px;")
        div.col-md-4.pull-right.col-md-offset-6.text-right
          .btn.btn-primary-border(ng-click="login()")="Login"
  div.container(style="margin-top:50px;")
  h2.text-center(style="color:#E8277A;")="Register"
  div.container(style="margin-bottom:50px;")
    div.col-md-4.col-sm-4.col-sm-offset-4.col-md-offset-4
      div(ng-show="status !== undefined && status.success !== true")
        div.panel-danger.text-center
          p {{status.message}}
      form#signUpForm(role="form",name="form",style="margin-top:20px;",novalidate)
        div(ng-class="{'has-error form-group':form.$submitted && form.email.$error.required || form.email.$error.email === true,'form-group':true}")
          label(for="email")="Email"
          input#email.form-control(type="email",style="font-size:16px;",name="email",placeholder="Email",ng-model="user.email",required="")
          span(ng-show="hasError(form.email) && !form.email.$error.required") Invalid Email Address
          span(ng-show="form.email.$dirty && form.email.$error.required") Required
        div(ng-class="{'has-error form-group':form.$submitted && form.mobile.$error.required || form.mobile.$error.email === true,'form-group':true}")
          label(for="mobile")="Mobile Number"
          input#mobile.form-control(type="text",style="font-size:16px;",name="mobile",placeholder="Mobile Number",ng-model="user.mobile_number",ng-pattern='/^[0-9]+$/',required="",minlength="10",maxlength="10")
          span(ng-show="form.mobile.$dirty && form.mobile.$error.required") Required
          span(ng-show="form.mobile.$error.pattern || form.mobile.$error.minlength || form.mobile.$error.maxlength") Invalid mobile number
        div(ng-class="{'has-error form-group':form.$submitted && form.password.$error.required === true,'form-group':true}")
          label(for="password")="Password"
          input#password.form-control(type="password",style="font-size:16px;",name="password",placeholder="Password",ng-model="user.password",required="",ng-minlength="8")
          span(ng-show="form.password.$dirty && form.password.$error.required") Required
          span(ng-show="form.password.$error.minlength") Min length of password must be 8 characters
        div(ng-class="{'has-error form-group':form.$submitted && form.confirm_password.$error.required === true,'form-group':true}")
          label(for="confirmPassword")="Confirm Password"
          input#confirmPassword.form-control(type="password",style="font-size:16px;",name="confirm_password",placeholder="Confirm Password",ng-model="user.confirm_password",required="",min="8")
          span(ng-show="form.confirm_password.$dirty && form.confirm_password.$error.required") Required
          span(ng-show="form.confirm_password.$dirty && form.confirm_password.$viewValue !== form.password.$viewValue") Passwords should match
        div.text-center(style="margin-top:10px;")
          button.btn.btn-primary-border#signUpButton(type="submit",ng-click="register()",data-loading-text="Registering...",ng-disabled="form.$invalid || form.confirm_password.$dirty && form.confirm_password.$viewValue !== form.password.$viewValue")="Register"
